
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}
<script src="~/Scripts/Students/index.js"></script>

<div class="col-md-6">
    <table class=" table table-responsive table-bordered">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Name</th>
                <th>Eamil_Id</th>
                <th>Phone Number</th>
                <th>Type of Enquiry</th>
                <th>details</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="tbldata"></tbody>
    </table>
</div>


